<StackLayout height="1000" marginTop="350" >

        <GridLayout columns="*,*" height="70"   >
            <Button col="0" height="65" text="Niveau" backgroundColor="#E3DBDA"></Button>
            <Button col="1" height="70"   text="Facile"  color="white" backgroundColor="blue"> </Button>
        </GridLayout>
        <GridLayout columns="*,*"   height="70" >
                <Button col="0"height="65" text="Theme" backgroundColor="#E3DBDA"></Button>
                <Button col="1" height="70"   text="Aucun"  color="white" backgroundColor="blue"> </Button>
        </GridLayout>
        <GridLayout columns="*,*" height="70"   >
            <Button col="0" height="65" text="Effets" backgroundColor="#E3DBDA"></Button>
            <Button col="1" height="70"   text="Son et vibrations"  color="white" backgroundColor="blue"> </Button>
        </GridLayout>
        
    </StackLayout>